.product-row {
    
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 8px;
}
.black{
    border: 1px solid black;
}
.red{
    border: 1px solid red;
}
.blue{
    border: 1px solid blue;

}
